.contenedor-cuadricula {
    display: grid;
    /* 3 columnas del mismo tamaño (fracciones) */
    grid-template-columns: 1fr 1fr 1fr;
    /* 2 filas de 100px de alto */
    grid-template-rows: 100px 100px;
    background-color: #f3f4f6;
    padding: 20px;
}

.item {
    background-color: #3b82f6;
    color: white;
    padding: 20px;
    border: 1px solid #1d4ed8;
    text-align: center;
    font-weight: bold;
}
