.contenedor-espaciado {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px;
    
    /* Control de espacio sin usar margin en los hijos */
    row-gap: 20px;
    column-gap: 30px;
    
    background-color: #f3f4f6;
    padding: 20px;
}

.item {
    background-color: #10b981;
    color: white;
    border: 1px solid #047857;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
