* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #f8fafc;
    color: #0f172a;
    padding: 20px;
}
.dashboard-container {
    max-width: 1200px;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.05);
    overflow: hidden;
    display: grid;
    grid-template-columns: 260px 1fr;
    min-height: 85vh;
}
.sidebar {
    background-color: #0f172a;
    color: #ffffff;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.sidebar h2 {
    font-size: 1.4rem;
    margin-top: 5px;
    margin-bottom: 25px;
}

.sidebar nav ul {
    list-style: none;
}

.sidebar nav a {
    display: block;
    color: #cbd5e1;
    text-decoration: none;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 5px;
}

.sidebar nav a.active, .sidebar nav a:hover {
    background-color: #1e293b;
    color: #ffffff;
}

.sidebar-footer {
    background-color: #111827;
    padding: 12px;
    border-radius: 8px;
}

.courses-panel {
    background-color: #f1f5f9;
    padding: 40px;
}


.panel-header {
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    margin-bottom: 30px;
}

.header-btn {
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}


.courses-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.course-card {
    background-color: #ffffff;
    border: 1px solid #e2e8f0;
    border-radius: 12px;
    padding: 20px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Iconos */
.course-card i {
    font-size: 1.5rem;
    color: #2563eb;
    background-color: #dbeafe;
    width: 50px;
    height: 50px;
    display: inline-grid;
    place-items: center;
    border-radius: 10px;
}


.progress-wrap {
    margin-top: auto; 
}

.progress-bar {
    background-color: #e2e8f0;
    height: 8px;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 5px;
}

.progress-bar span {
    display: block;
    height: 100%;
    background-color: #2563eb; 
}

.progress-bar .span-java { background-color: #f59e0b; width: 54%; }
.progress-bar .span-python { background-color: #16a34a; width: 66%; }

.course-card button {
    align-self: flex-start;
    background-color: #0f172a;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 20px;
    color: #64748b;
}

/* RESPONSIVE PARA DISPOSITIVOS MÓVILES */
@media (max-width: 768px) { /* creo que es maximo de px que puede dar al app */
    .dashboard-container {
        grid-template-columns: 1fr; /* bro yo entiendo que esto Pone el sidebar arriba y el contenido abajo */
    }
}