div{
 width: 100px;
 height: 100px;
 margin: 10px;
 text-align: center;
 color: white;
}

.degradado-lineal {
    background: linear-gradient(30deg, #ff0000, #0000ff);
}

.degradado-radial {
    background: radial-gradient(circle, #4c00ff, #9aff0d);
}