div{
    height: 100px;
    margin-bottom: 10px;
    color: white;
}

.fondo-color-repetido{
    background-color: #5d8c00;
}

.fondo-imagen-repetida{
    background-image: url("https://cdn.polyspeak.ai/speakmaster/fee436e7e1390d74b690eca24b7cb5be.webp");
      background-repeat: repeat;
      background-position: center;
}